
/* Main CSS*/
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: "Roboto", sans-serif;
    -moz-osx-font-smoothing: "Roboto", sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
} 
:root {
        --primary: #5e3bee;
        --heading-color: #282938;
        --bg-shade: #f5fcff;
        --github: #e62872;
        --darkblue: #1c1e53;
        --black: #000000;
        --white: #ffffff;
      }
      .btn {
        font-family: "Roboto";
        display: inline-block;
        padding: 14px 32px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -ms-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
      }
      .btn-outline-primary {
        color: var(--primary);
        background-color: var(--white);
        border: 1px solid var(--primary);
      }
      .btn-outline-primary:hover {
        color: var(--white);
        background-color: var(--primary);
      }
      .btn-primary {
        color: var(--white);
        background-color: var(--primary);
        border: 1px solid var(--primary);
      }
      .btn-primary:hover {
        color: var(--primary);
        background-color: var(--white);
      }
      .btn-github {
        color: var(--white);
        background-color: var(--github);
        border: var(--github);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
        gap: 16px;
      }
      .btn-github:hover {
        color: var(--github);
        background-color: var(--white);
      }
     /* End Main CSS*/


      h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 65px;
      }
      h2 {
        font-size: 42px;
        font-weight: 700;
        line-height: 57px;
      }
      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
      }
      /*Paragraph*/
      .text-lg {
        color:var(--darkblue);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;

      }
      .text-md {
        color:var(--darkblue);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;

      }
      .text-sm {
        color:var(--black);
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;

      }

      /*Title*/
      .section-title {
        color:var(--heading-color);
        font-size: 21px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        display: flex;
        align-items: flex-start;
      }

      .sub-title {
        color:var(--heading-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        
      }
      /* Nav Bar */
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 83px;
        background: var(--white);
        box-shadow: 0 5px 80px 0 rgba(0,0,0,0.1);
        position: fixed;
        top:0;
        left:0;
        right:0;
      }
      .navbar-items > ul {
        list-style: none;
        display: flex;
        align-items: flex-start;
        gap:42px;
        text-decoration: none;
      }

      .navbar-items ul > li > a {
        text-decoration: none;

      }
      .navbar-content {
        color:var(--darkblue);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        cursor: pointer;
      }
      .navbar-active-content {
        color:var(--primary);

      }
      .nav-bar-logo {
        display:flex;
        border-radius: 50px;
        
        
        
      }
      /* end Navbar */

      /* Zero Section */
      .zero-section {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 130px 80px 130px;
        align-items: center;
        justify-content: space-between;
        gap: 32px; 
        background-color: var(--bg-shade);     
      }
      .zero-section-content-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:32px;
      }
      .zero-section-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:21px;
      }
      .zero-section-content-box > button {
        margin-top: 21px;

      }
      .zero-section-title {
        color: var(--heading-color);
        font-size: 70px;
        font-weight: 700;
        line-height: 90px;
        align-self: stretch;
      }
      .zero-section-title-color {
        color: var(--primary);
      }
      .zero-section-description {
        color: var(--darkblue);
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
      }
      .zero-section-img {
        display: flex;
      }
      .zero-section-img > img{
        width: 100%;
        height: 100%;
      }
/* Zero Ends */
/* skills Section */
.skills-section {
  display: flex;
  padding:150px,85px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:106px;
}
.skills-section-head {
  color:var(--heading-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
}

.skills-section-container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap:40px;
  grid-template-columns: repeat(4, 1fr);
}
.skills-section-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding:30px;
  flex:1 0 0;
  border-radius: 10px;
  background: var(--bg-shade);
  min-height: 250px;

}
.skills-section-item:hover {
  border-bottom: 5px solid var(--primary);

}
.skills-section-item:hover .skills-section-desc {
color: var(--darkblue)
}
.skills-section-img {
  display: flex;
  padding:10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.1);
}
.skills-section-item-content {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:30px;
  align-self: stretch;

}
.skills-section-title {
  color: var(--heading-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
}
.skills-section-desc {
  color: var(--black);
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
}
/* skills end */

/* About section */
.about-section {
  display: grid;
  padding:130px 85px;
  align-items: center;
  gap:114px;
  grid-template-columns: repeat(2, 1fr);
}
.about-section-img > img {
  width: 100%;
  height: 100%;

}
